.switch-btn {
    width: 2rem;
    height: 2rem;

    background-color: transparent;
    color: $main-color;
    border: .1vw solid $main-color;
    border-radius: 5rem;

    cursor: pointer;
}