.app-content {
    display: flex;

    .side-content {
        display: flex;
        flex-direction: column;

        background-color: $gray-color;

        .content-row {
            display: flex;
        }
    }
}